@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;300;400;600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');


*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
}

:root {
    --cor1: #1A7FBD;
    --cor2: #A4DCFF;
    --cor3: black;
    --cor4: white;

    --font-padrao: 'Noto Sans', sans-serif;
    --font1: 'Anton', sans-serif;
    --font2: arial, sans-serif;
}



body {
    
}

header {
    background-color: var(--cor1);
    width: 100%vw;
    height: 105px;
    position: relative;
}

header > div {
    width: 80%;
    height: 105px;
    background-color: var(--cor1);
    display: block;
    margin: auto;
    align-items: center;
   
}

.row {
    display: flex;
    flex-direction: row;
    position: relative;
}

 .alling {
    display: flex;
    justify-content: center;
    align-items: center;
 }


.logo {
    width: 175px;
    height: 36px;
    position: absolute;
    top: 29px;
    left: 0px;
}

.menu {
    position: absolute;
    width: 445px;
    height: 19px;
    top:25px;
    left:425px;
}

.menu > a {
    color: var(--cor4);
    padding: 18px;
    text-decoration: none;
    font-family: var(--font-padrao);
    font-weight: 100;
}

button {
    background-color: var(--cor3);
    color: var(--cor4);
    font-family:var(--font-padrao);
    font-weight: bold;
    position: absolute;
    left: 1144px;
    top: 31px;
    padding: 10px;
    height: 43px;
    width: 160px;
    border-radius: 6px;
    border: none;
}

button:hover {
    background-color: var(--cor4);
    color: var(--cor3);
    transition: 1s;
}

button:active {
    transform: scale(0.9);
    background-color: var(--cor3);
    color: var(--cor4);

}

.linha {
    position: absolute;
    width: 1600px;
    top: 97px;
    left: 43px;
    border: 1px;
}

.numberOne {
    background-color: var(--cor1);
    width: 100%;
    height: 1633px;
}

.img-t {
    position: absolute;
    left: -11px;
    
}

.contem {
    position: absolute;
    top: 145px;
    left: 1061px;
    width: 405px;
    height: 729px;
    border-radius: 10px;
    background-color: aquamarine;
}

.ele-1  {
    position: absolute;
    top:140px;
    left:1066px;
}

.ele-2 {
    position: absolute;
    top: 151px;
    left:1055px;
}

.ele-3 {
    position: absolute;
    top:300px;
    left:1466px;
}

.ele-4 {
    position: absolute;
    left:379.24px ;
    top: 1071px;
    width: 534px;
    height: 461;
}

.ele-5 {
    position: absolute;
    width: 1288px;
    height: 600px;
    left: -20px;
    top: 1033px;
}

.h2-1 {
    font-family: var(--font-padrao);
    font-weight: bolder;
    font-size: 2.5em;
    color: var(--cor2);
    position: absolute;
    top: 1100px;
    left: 1045px;
}
.text1 {
    position: absolute;
    top: 1150px;
    left: 1045px;
    width: 404px;
    height: 209px;
    font-family:var(--font-padrao);
    font-weight: 300px;
    color: var(--cor4);
    margin: 15px 0px;
    margin-bottom: 10px;
    font-size: 1em;
    line-height: 1.5em;
}

#pzero {
    font-size: .9em;
    font-weight: 100;
}

.numberTwo {
    background-color: var(--cor4);
    width: 100%;
    height: 1633px;
}

.img-m {
    position: absolute;
    width: 544.78px;
    height: 769.97px;
    top: 1760px;
    left: 350px;
}

.h2-2{
    position: absolute;
    top: 1863px;
    left: 975px;
    font-family: var(--font2);
    font-weight: bold;
    font-size: 2.5em;
    background-image: linear-gradient(90deg, var(--cor1), var(--cor2), var(--cor1));
    background-size: 200% 200%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: degrade 10s linear infinite;
}

@keyframes degrade {
    0% {
        background-position: 0% 100%;
    }
    100% {
        background-position: 100% 50%;
    }
}

.text2 {
    position: absolute;
    top: 1933px;
    left: 975px;
    width: 408px;
    height: 322px;
    color: var(--cor3);
    font-family: var(--font-padrao);
    font-weight: 100px;
    font-size: .9em;
}

#pOne {
    font-size: 18.5px;
    font-weight: bold;
}

#pTwo {
    font-weight: bold;
}

#img-l {
    position: absolute;
    top: 95px;
    left: 1;
    width: 410px;
}

#bloco3 {
    
    position: absolute;
    top:2378px;
    width:100%;
    height:230px;
}

.config{
    position: relative;
    width: 327px;
    height: 228px;
    background-color: var(--cor4);
    border: 1px solid rgba(162, 158, 158, 0.528);
    border-radius: 10px;
    margin: 3px;
    padding: 10px;
    box-shadow:1px 32px 35px rgba(0, 0, 0, 0.196);
}

.formaP {
    position: absolute;
    top: -12px;
    left: 135px;
    font-family: var(--font1);
    font-size:5em;
    color: var(--cor4);
    text-shadow: 1px 1px 1px rgba(163, 161, 161, 0.721), -1px 1px rgba(163, 161, 161, 0.721), 1px -1px rgba(163, 161, 161, 0.721);
}

.h2-bc3 {
    position: absolute;
    top: 40px;
    left:80px;
    font-family: var(--font-padrao);
    font-weight: bolder;
    
}


.pTwo {
    font-family: var(--font-padrao);
    font-weight: 100px;
    font-size: .9em;
   display: flex;
   align-items: center;
   justify-content: center;
   text-align: center;
   height: 250px;
}

.jornada {
    position: absolute;
    top: 2750px;
    width: 100%;
    height: 48px;
}

#div3 {
    position: absolute;
    width: 992px;
    height: 30px;
}

#vec2{
    position: absolute;
    left: 615px;
}
#vec3{
    
    position: absolute;
    left: 10px;
}

.jornadah2 {
    position: absolute;
    left: 400px;
 
    font-family: var(--font2);
    font-weight: bold;
    font-size: 2em;
    background-image: linear-gradient(90deg, var(--cor1), var(--cor2), var(--cor1));
    background-size: 200% 200%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: degrade 10s linear infinite alternate;
}

@keyframes degrade {
    0% {
        background-position: 0% 100%;
    }
    100% {
        background-position: 100% 50%;
    }
}

.bloco6 {
    position: absolute;
    top: 2850px;
    width: 100%;
    height: 180px;
}

#div6 {
    display: flex;
    flex-direction: row;
    position: absolute;
    width: 992px;
    height: 170px;
}

#t-1 {
    position: absolute;
    top: ;
    left:7px;
}
#t-2 {
    position: absolute;
    top: 85px;
    left: 7px;
}

.but {
    position: relative;
    background-color: var(--cor1);
    width: 320px;
    height: 77px;
    border-radius: 10px;
    margin-top: 5px;
    margin: 8px;
    padding: 10px;
    box-shadow: 10px 20px 30px rgba(54, 54, 54, 0.346);
}

.img-ico{
    background-color: var(--cor4);
    border-radius: 10px;
    position: absolute;
    top: 12px;
    width: 51px;
    height: 51px;
}

.img-ico2{
    background-color: var(--cor4);
    border-radius: 10px;
    position: absolute;
    top: 12px;
    width: 51px;
    height: 51px;
}

.ico {
    background-color: var(--cor4);
    position: absolute;
    top: 12px;
    left:12px;
    padding: 1px;
    border-radius: 10px;
    width: 25px;
    height: 25px;
}
.ico2 {
    background-color: var(--cor4);
    position: absolute;
    top: 12px;
    left:12px;
    padding: 1px;
    border-radius: 10px;
    width: 25px;
    height: 25px;
}

.pb {
    font-family: var(--font-padrao);
    font-size: .9em;
    color: var(--cor4);
    position: absolute;
    top: -20px;
    left: 40px;
    padding: 40px;
}
.pb1 {
    font-family: var(--font-padrao);
    font-size: .9em;
    color: var(--cor4);
    position: absolute;
    top: -20px;
    left: 30px;
    padding: 40px;
}
