@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100&display=swap');



*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
}

:root {
    --cor1: #1A7FBD;
    --cor2: #A4DCFF;
    --cor3: black;
    --cor4: white;
}

body {
    font-family: 'Noto Sans', sans-serif;
}

header {
    background-color: var(--cor1);
    width: 100%vw;
    height: 105px;
    position: relative;
}

header > div {
    width: 80%;
    height: 105px;
    background-color: var(--cor1);
    display: block;
    margin: auto;
    align-items: center;
   
}

.row {
    display: flex;
    flex-direction: row;
    position: relative;
    
    
}

.logo {
    width: 175px;
    height: 36px;
    position: absolute;
    top: 29px;
    left: 0px;
}

.menu {
    position: absolute;
    width: 445px;
    height: 19px;
    top:25px;
    left:425px;
}

.menu > a {
    color: var(--cor4);
    padding: 18px;
    text-decoration: none;
    font-family: 'Noto Sans'sans-serif;
}

.meu-botao {
    background-color: var(--cor3);
    color: var(--cor4);
    font-family: 'Noto Sans'sans-serif;
    position: absolute;
    left: 1144px;
    top: 31px;
    padding: 10px;
    height: 43px;
    width: 160px;
    border-radius: 6px;
    border: none;
}

.linha {
    position: absolute;
    width: 1600px;
    top: 97px;
    left: 43px;
    border: 1px;
}

.numberOne {
    background-color: var(--cor1);
    width: 100%;
    height: 1633px;
}

.img-t {
    position: absolute;
    left: -11px;
    
}

.contem {
    position: absolute;
    top: 145px;
    left: 1061px;
    width: 405px;
    height: 729px;
    border-radius: 10px;
    background-color: aquamarine;
}

.ele-1  {
    position: absolute;
    top:140px;
    left:1066px;
}

.ele-2 {
    position: absolute;
    top: 151px;
    left:1055px;
}

.ele-3 {
    position: absolute;
    top:300px;
    left:1466px;
}

.ele-4 {
    position: absolute;
    left:379.24px ;
    top: 1071px;
    width: 534px;
    height: 461;
}

.ele-5 {
    position: absolute;
    width: 1288px;
    height: 600px;
    left: -20px;
    top: 1033px;
}

.h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 2.5em;
    color: var(--cor2);
    position: absolute;
    top: 1100px;
    left: 1045px;
}
.text1 {
    position: absolute;
    top: 1150px;
    left: 1045px;
    width: 404px;
    height: 209px;
    font-family:Arial, Helvetica, sans-serif;
    color: var(--cor4);
    margin: 15px 0px;
    margin-bottom: 10px;
    font-size: 1em;
    line-height: 1.5em;
}

.numberTwo {
    background-color: var(--cor4);
    width: 100%;
    height: 1633px;
}


