@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100&family=Passion+One&display=swap');



*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
}

:root {
    --cor1: #1A7FBD;
    --cor2: #A4DCFF;
    --cor3: black;
    --cor4: white;

    
}

body {
    background-color: var(--cor1);
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: var(--cor1);
    width: 1440px;
    height: 105px;
    margin: auto;
    position: relative;
}

.logo {
    width: 175px;
    height: 35.39px;
    position: absolute;
    top: 25px;
    left: 233px;
}

.menu {
    position: absolute;
    width: 445px;
    height: 19px;
    top: 33px;
    left: 505px;
}

.menu > a {
    color: var(--cor4);
    padding: 10px;
    text-decoration: none;
    font-family: var(--font2);
}

.meu-botao {
    background-color: var(--cor3);
    color: var(--cor4);
    position: absolute;
    width: 159px;
    height: 43px;
    top: 22px;
    left: 1047px;
    border-radius: 6px;
    border: none;
}

.linha {
    position: absolute;
    width: 1284px;
    top: 86px;
    left: 79px;
    border: 1px;
}

.position {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: var(--cor1);
    width: 100%wv;
    height: 1633px;
    position: relative;
}

.baner-t {
    position: absolute;
    width: 1629px;
    height: 1182px;
    top: 179.50;
    left: -180px;
}

.position-div {
    position: absolute;
    top: 270px;
    left: 1470px;
}

.position-div2 {
    position: absolute;
    top: 1071px;
    left: 179.24px;
}

.dev {
    width: 533.76px;
    height: 461px;
}